.row-header{
    margin:0px auto;
    padding:50px 0px 50px 0px;
}

.row-content {
    margin:0px auto;
    padding: 70px 30px 70px 30px;
    border-bottom: 0px ridge;
    min-height:200px;
    background: rgb(15, 91, 255);
    color: #f8f8f8;

}

.footer{
    background-color: #ffffff;
    margin:0px auto;
    padding: 20px 0px 20px 0px;
    background: rgb(255, 255, 255)
}
.jumbotron {
    padding:40px, 20px, 40px, 20px;
    margin:0px auto;
    background: rgb(188, 149, 255) ;
}

address{
    font-size:80%;
    margin:0px;
    color: #050505;
    background: rgb(255, 255, 255)
}

body{
    padding: 50px 0px 0px 0px;
    z-index: 0;

}

.navbar-dark{
background: rgb(151, 91, 255);
color: #ffffff


}